@model ListWizard.Models.Upload
@{
    ViewData["Title"] = "FileUploadPartial";
    Layout = null;
}

<div id="fileUpload"></div>

   <div class="modal" tabindex="-1" id="form-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
<form enctype="multipart/form-data" method="post" >
    <dl>
        <dt>
            <label asp-for="@Model.File"></label>
        </dt>
        <dd>
            <input asp-for="@Model.File" type="file">
            <span asp-validation-for="@Model.File"></span>
        </dd>
         <div class="container">
         
     </div>
    </dl>
    <div class="form-group">
                <input type="submit" onsubmit="showInPopup('@Url.Action("FileUpload","Wizard",null,Context.Request.Scheme)','Upload')" value="Finish" class="btn btn-primary" />
            </div>
  @*          <asp:GridView id='gridView1' runat="server">

            </asp:GridView>*@
    
</form>
<p>
    <a @*asp-action="CreateNewList" asp-controller="Wizard"*@  onclick="showInPopup('@Url.Action("CreateNewList","Wizard",null,Context.Request.Scheme)','New List Wizard')" class="btn btn-success button2">Back to list</a>
</p>
 @if (Model.csvContents.Count() > 0)
    {
        <h1>Missing fields are @Model.MissingField</h1>
        <h1>Imported fields are @Model.ImportedField</h1>
        <table >
            <tbody>
                @foreach (var cell in Model.csvContents)
                {
                    <tr>
                        <td>
                            @cell.FirstName
                        </td>
                        <td>
                            @cell.LastName
                        </td>
                        <td>
                            @cell.CompanyName
                        </td>
                        <td>
                            @cell.Title
                        </td>
                        <td>
                            @cell.Email
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
      </div>
    </div>
  </div>
</div>

